<form  method="POST" action="">
    Project Title: <input type="text" name="projectTitle" id="search" required><br>
    Project Description: <input type="text" name="projectDescription" id="search" required><br>
    Project DemoURL (optional) <input type="text" id="search"><br>
    Created Date (optional) <input type="text" id="search"><br>
    <input type="submit" value="Add" id="submitBtn"><br>

</form>