
<ul class="feedbacks">
<li class="list-group-item">
  <div class="row">
    <div class="col-md-6">
      <h4>Name of Reviewer</h4>
    </div>
    <div class="col-md-6">
      <h4>Content of Feedback</h4>
    </div>
  </div>
</li>
{{#each reviews}}
<li class="list-group-item">
  <div class="row">
    <div class="col-md-6">
      <h4>{{this.reviewerName}}</h4>
    </div>
    <div class="col-md-6">
      <p>{{this.reviewerFeedback}}</p>
    </div>
  </div>
</li>
{{/each}}

</ul>
<h3>Add new feedback</h3>
<form  id="feedback" method="POST" action="">
    Name:<input type="text" name="feedbackName" id="search" value="anonymous"><br>
    Feedback: <input type="text" name="feedbackTxt" id="search" required><br>

    <input type="submit" value="Add Feedback" class="submitFeedback"><br>

</form>